<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.jraf.android.colorsecret"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".app.Application"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- Crashlytics api key -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${apiKeyFabric}" />

        <!-- Main activity -->
        <activity
            android:name=".app.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- About -->
        <activity
            android:name="org.jraf.android.util.about.AboutActivity"
            android:label="@string/about_title" />
    </application>
</manifest>